body {
  background-color:#dcd6f7;
  ;


}

hr {
 border-style: dotted none none;
 border-color:grey;
 border-width:5px;

 width: 5%;
}

h1 {
  color:#66bfbf;
}
h3 {
    color:#66bfbf;
}
 body {
            background-image: url(pan.jpg);
            padding: 5px;
        }

        .body {
            margin: 10%;
            background-color: transparent;
            display: inline-block;
            position: relative;
            padding: 2px;
            font-family: montserrat;
            color: #000;
            text-decoration:none;
        }

        .body1 {
            position: relative;
            color: #0A1931;
        }

        .titulo {
            font-family: cursive;
        }

        .contact {
            margin: 5px;
            padding: 1px;
            text-align: center;
            padding: 5px;
        }

        .bar {
            opacity: 0.9;
            position: fixed;
            border-radius: 50%;
            z-index:1;
        }

        .bread {
            margin: auto auto auto 10px;
            position: relative;
            padding: 7px;
        }

        .list {
            padding: 3px;
            margin: 5px;
            text-align: right;
        }
     
